.noPrint
{
 display: none;
}

body
{
background-color:#B9D3EE;
color:#000000;
font-size:.5em;
margin:1px;
font-family:Tahoma;
}

#ChangeLogContainer
{
	width: 750px;
	margin-left: auto;
	margin-right: auto;
}

.msgHidden{
	width: 390px;
	padding: 2px;
	border-style: solid;
	border-color: gray;
	border-width: 1px;
}

body.actioniframe
{
background-color:#B9D3EE;
color:#000000;
font-size:.5em;
font-family:Tahoma;
}

body.old
{
background-color:#ffffcc;
color:#000000;
font-size:.5em;
font-family:Tahoma;
}

a:link
{
color:#0000ff;
text-decoration:none;
font-size:.5em;
font-family:Tahoma;
}

a:visited
{
color:#0000ff;
border-style:none;
text-decoration:none;
font-size:.5em;
font-family:Tahoma;
}

a:hover
{
text-decoration:underline;
font-size:.5em;
font-family:Tahoma;
}

a:active
{
color:#0000ff;
text-decoration:none;
border-style:none;
font-size:.5em;
font-family:Tahoma;
}

a.link
{
color:#0000ff;
border-style:none;
text-decoration:none;
font-size:.5em;
font-family:Tahoma;
}

table
{
border-style:none;
border-collapse:collapse;
padding:1;
empty-cells:hide;
}

table.outer
{
border-width:1;
border-style:solid;
border-color:gray;
padding:1;
}

table.inner_borders
{
border-style:none;
padding:1;
empty-cells:hide;
}

table.frm
{
background-color:gray;
border-style:none;
border-collapse:collapse;
padding:1;
empty-cells:hide;
}

th
{
color:black;
font-size:.5em;
background-color:#d3d3d3;
}

tr.wh
{
background-color:white;
font-family:Tahoma;
}

tr.lg
{
background-color:#d3d3d3;
font-family:Tahoma;
}

td
{
font-size:.5em;
font-family:Tahoma;
}

td.gray
{
font-size:.5em;
font-family:Tahoma;
background-color:#d3d3d3;
}

td.white
{
font-size:.5em;
font-family:Tahoma;
background-color:#ffffff;
}

td.header
{
font-size:.5em;
padding-left:5px;
padding-right:5px;
font-family:Tahoma;
}

td.wh
{
background-color:white;
padding-left:5px;
padding-right:5px;
font-family:Tahoma;
}

td.lg
{
background-color:#d3d3d3;
padding-left:5px;
padding-right:5px;
font-family:Tahoma;
}

td.ly
{
background-color:#FFFF66;
padding-left:5px;
padding-right:5px;
font-family:Tahoma;
}

td.iframe
{
background-color:#f5f5dc;
padding-left:5px;
padding-right:5px;
font-family:Tahoma;
}

td.toolbar
{
font-size:.5em;
background-color:#f5f5dc;
font-family:Tahoma;
border-width:2px;
}

td.und
{
border-style:solid;
border-top:none;
border-left:none;
border-right:none;
border-width:1px;
border-color:#000000;
background-color:#dcdcdc;
}

td.yel_und
{
border-style:solid;
border-top:none;
border-left:none;
border-right:none;
border-width:1px;
border-color:#000000;
background-color:#FFFF00;
}

td.ltgray_und
{
border-style:solid;
border-top:none;
border-left:none;
border-right:none;
border-width:1px;
border-color:#000000;
background-color:#F5F5F5;
}

td.wh_und
{
border-style:solid;
border-top:none;
border-left:none;
border-right:none;
border-width:1px;
border-color:#000000;
background-color:#FFFFFF;
}

td.blu_und
{
border-style:solid;
border-top:none;
border-left:none;
border-right:none;
border-width:1px;
border-color:#000000;
background-color:lightblue;
}

td.grn_und
{
border-style:solid;
border-top:none;
border-left:none;
border-right:none;
border-width:1px;
border-color:#000000;
background-color:#66CC66;
}

td.yel_und
{
border-style:solid;
border-top:none;
border-left:none;
border-right:none;
border-width:1px;
border-color:#000000;
background-color:yellow;
}

td.red_und
{
border-style:solid;
border-top:none;
border-left:none;
border-right:none;
border-width:1px;
border-color:#000000;
background-color:red;
}

td.oran_und
{
border-style:solid;
border-top:none;
border-left:none;
border-right:none;
border-width:1px;
border-color:#000000;
background-color:orange;
}

td.magenta_und
{
border-style:solid;
border-top:none;
border-left:none;
border-right:none;
border-width:1px;
border-color:#000000;
background-color:#DDA0DD;
}

td.ltgray
{
border-style:solid;
border-top:none;
border-left:none;
border-right:none;
border-width:1px;
border-color:#000000;
background-color:#F5F5F5;
}

tr.und
{
border-style:solid;
border-top:none;
border-left:none;
border-right:none;
border-width:1px;
border-color:#000000;
background-color:#dcdcdc;
}

tr.ltgray_und
{
border-style:solid;
border-top:none;
border-left:none;
border-right:none;
border-width:1px;
border-color:#000000;
background-color:#F5F5F5;
}

tr.wh_und
{
border-style:solid;
border-top:none;
border-left:none;
border-right:none;
border-width:1px;
border-color:#000000;
background-color:#FFFFFF;
}

tr.blu_und
{
border-style:solid;
border-top:none;
border-left:none;
border-right:none;
border-width:1px;
border-color:#000000;
background-color:lightblue;
}

tr.grn_und
{
border-style:solid;
border-top:none;
border-left:none;
border-right:none;
border-width:1px;
border-color:#000000;
background-color:#66CC66;
}

tr.yel_und
{
border-style:solid;
border-top:none;
border-left:none;
border-right:none;
border-width:1px;
border-color:#000000;
background-color:yellow;
}

tr.red_und
{
border-style:solid;
border-top:none;
border-left:none;
border-right:none;
border-width:1px;
border-color:#000000;
background-color:red;
}

div.pagebreak
{
page-break-before: always;
}

form
{
margin-bottom:0;
font-family:Tahoma;
}

font
{
font-size:.5em;
font-family:Tahoma;
}

font.sblue
{
font-size:1em;
color:blue;
font-family:Tahoma;
}

font.sred
{
font-size:1em;
color:red;
font-family:Tahoma;
}

font.super
{
font-size:12pt;
font-family:Tahoma;
}

font.tiny
{
font-size:.5em;
}

font.7pt
{
font-size:.5em;
}

font.stitle
{
font-size:.5em;
font-weight:bold;
color:red;
}

font.ltitle
{
font-size:.5em;
font-weight:bold;
color:red;
}

font.theader
{
font-size:10pt;
font-weight:bold;
color:black;
}

font.b12pt
{
font-size:12pt;
font-weight:bold;
color:black;
}

input
{
font-size:.80em;
font-family:Tahoma;
border-style:solid;
border-width:1px;
background-color=#ffffff;
}

input.bbox
{
font-size:.80em;
font-family:Tahoma;
border-style:solid;
border-top:none;
border-left:none;
border-right:none;
border-width:1px;
text-align:right;
background-color=#ffffff;
}

input.bboxl
{
font-size:.80em;
font-family:Tahoma;
border-style:solid;
border-top:none;
border-left:none;
border-right:none;
border-width:1px;
background-color=#ffffff;
}

input.critical
{
font-size:.80em;
font-family:Tahoma;
border-style:solid;
border-width:1px;
border-color:red;
background-color=#ffffff;
}

input.checkbox
{
border-width:0px;
border-style:none;
border-width:1px;
background-color:#d3d3d3;
padding:0;
}

input.checkboxwh
{
border-width:0px;
border-style:none;
background-color:white;
}

input.checkboxcrm
{
border-width:0px;
border-style:none;
background-color:#f5f5dc;
}

input.checkboxgry
{
border-width:0px;
border-style:none;
background-color:#d3d3d3;
}

input.checkboxltblue
{
border-width:0px;
border-style:none;
background-color:#B9D3EE;
}

input.wh
{
border-width:0px;
border-style:none;
background-color:white;
}

input.lg
{
border-width:0px;
border-style:none;
background-color:#d3d3d3;
}

input.buttondkgry
{
font-size:.75em;
font-family:Tahoma;
color:#ffffff;
border-style:solid;
border-color:black;
border-width:1px;
background-color:gray;
padding:0;
}

input.buttondkgrypnl
{
font-size:.75em;
font-family:Tahoma;
font-style:Bold;
color:#ffffff;
border-style:solid;
border-color:black;
border-width:1px;
background-color:gray;
padding:0;
width:90;
}

input.buttondkgrypnl80
{
font-size:.75em;
font-family:Tahoma;
font-style:Bold;
color:#ffffff;
border-style:solid;
border-color:black;
border-width:1px;
background-color:gray;
padding:0;
width:80;
}

input.buttondkgrypnl100
{
font-size:.75em;
font-family:Tahoma;
font-style:Bold;
color:#ffffff;
border-style:solid;
border-color:black;
border-width:1px;
background-color:gray;
padding:0;
width:100;
}

input.buttondkgrypnl50
{
font-size:.80em;
font-family:Tahoma;
font-style:Bold;
color:#ffffff;
border-style:solid;
border-color:black;
border-width:1px;
background-color:gray;
padding:0;
width:50;
}

select
{
font-size:.80em;
border-style:none;
border-width:0px;
border-spacing:0px;
}

option
{
font-size:.80em;
font-family:Tahoma;
border-style:none;
border-width:0px;
border-spacing:0px;
background-color=#ffffff;
}

textarea
{
font-size:.80em;
border-style:solid;
border-width:1px;
}

button
{
font-size:.80em;
font-family:Tahoma;
color:#ffffff;
border-style:solid;
border-color:black;
border-width:1px;
background-color:gray;
padding:0;
}

button.plain
{
font-size:.75em;
border-style:none;
}

button.tabact
{
font-size:.5em;
font-family:Tahoma;
color:#000000;
border-style:solid;
border-color:black;
border-width:1px;
background-color:#ffffff;
padding:0;
width:80px;
}

button.tabinact
{
font-size:.5em;
font-family:Tahoma;
color:#ffffff;
border-style:solid;
border-color:black;
border-width:1px;
background-color:gray;
padding:0;
width:80px;
}

iframe
{
font-size:.5em;
font-family:Tahoma;
background-color:#f5f5dc;
}

.skin0
{
position:absolute;
font-size: 7pt;
text-align:left;
width:200px;
border:1px solid black;
background-color:#d3d3d3;
font-family:Verdana;
line-height:12px;
cursor:default;
visibility:hidden;
}

.skin1
{
cursor:default;
font:menutext;
position:absolute;
text-align:left;
font-family: Arial, Helvetica, sans-serif;
font-size: 10pt;
width:120px;
background-color:<B style="color:black;background-color:#99ff99">menu</B>;
border:1 solid buttonface;
visibility:hidden;
border:2 outset buttonhighlight;
}

.menuitems
{
padding-left:5px;
padding-<B style="color:black;background-color:#ffff66">right</B>:10px;
}

.info
{
   border-style: solid;
   border-color: #000000;
   border-width: 1px;
   position: absolute;
   display: none;
}

.tab
{
color: #ffffff;
background-color: #696969;
border: thin solid black;
border-width:1px;
position: absolute;
top: 28;
left: 1;
width: 100;
text-align: center;
font: 8pt Arial;
z-index: 2;
padding: 0;
cursor: pointer;
cursor: hand;
}

.panel
{
position: absolute;
top: 50;
left: 1;
width: 90%;
z-index: 1;
visibility: hidden;
font: 8pt Arial;
color: black;
border: thin;
border-width:1px;
padding: 0;
overflow: auto;
}

   DIV.menuBar
   {
	   FONT-WEIGHT: normal; FONT-SIZE: .5em; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: "MS Sans Serif", Arial, sans-serif
   }
   DIV.menuBar A.menuButton
   {
	   FONT-WEIGHT: normal; FONT-SIZE: .5em; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: "MS Sans Serif", Arial, sans-serif
   }
   DIV.menu
   {
	   FONT-WEIGHT: normal; FONT-SIZE: .5em; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: "MS Sans Serif", Arial, sans-serif
   }
   DIV.menu A.menuItem
   {
	   FONT-WEIGHT: normal; FONT-SIZE: .5em; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: "MS Sans Serif", Arial, sans-serif
   }
   DIV.menuBar
   {
	   BORDER-RIGHT: #e0e0e0 2px outset; PADDING-RIGHT: 2px; BORDER-TOP: #e0e0e0 2px outset; PADDING-LEFT: 2px; PADDING-BOTTOM: 4px; BORDER-LEFT: #e0e0e0 2px outset; PADDING-TOP: 4px; BORDER-BOTTOM: #e0e0e0 2px outset; BACKGROUND-COLOR: #e0e0e0; TEXT-ALIGN: left
   }
   DIV.menuBar A.menuButton
   {
	   BORDER-RIGHT: #e0e0e0 1px solid; PADDING-RIGHT: 6px; BORDER-TOP: #e0e0e0 1px solid; PADDING-LEFT: 6px; Z-INDEX: 100; LEFT: 0px; PADDING-BOTTOM: 2px; MARGIN: 1px; BORDER-LEFT: #e0e0e0 1px solid; CURSOR: default; COLOR: #000000; PADDING-TOP: 2px; BORDER-BOTTOM: #e0e0e0 1px solid; POSITION: relative; TOP: 0px; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
   }
   DIV.menuBar A.menuButton:hover
   {
	   BORDER-RIGHT: #e0e0e0 1px outset; BORDER-TOP: #e0e0e0 1px outset; BORDER-LEFT: #e0e0e0 1px outset; COLOR: #000000; BORDER-BOTTOM: #e0e0e0 1px outset; BACKGROUND-COLOR: transparent
   }
   DIV.menuBar A.menuButtonActive
   {
	   BORDER-RIGHT: #e0e0e0 1px inset; BORDER-TOP: #e0e0e0 1px inset; LEFT: 1px; BORDER-LEFT: #e0e0e0 1px inset; COLOR: #ffffff; BORDER-BOTTOM: #e0e0e0 1px inset; TOP: 1px; BACKGROUND-COLOR: #5050f0
   }
   DIV.menuBar A.menuButtonActive:hover
   {
	   BORDER-RIGHT: #e0e0e0 1px inset; BORDER-TOP: #e0e0e0 1px inset; LEFT: 1px; BORDER-LEFT: #e0e0e0 1px inset; COLOR: #ffffff; BORDER-BOTTOM: #e0e0e0 1px inset; TOP: 1px; BACKGROUND-COLOR: #5050f0
   }
   DIV.menu
   {
	   BORDER-RIGHT: #e0e0e0 2px outset; PADDING-RIGHT: 1px; BORDER-TOP: #e0e0e0 2px outset; PADDING-LEFT: 0px; Z-INDEX: 101; LEFT: 0px; VISIBILITY: hidden; PADDING-BOTTOM: 1px; BORDER-LEFT: #e0e0e0 2px outset; PADDING-TOP: 0px; BORDER-BOTTOM: #e0e0e0 2px outset; POSITION: absolute; TOP: 0px; BACKGROUND-COLOR: #e0e0e0
   }
   DIV.menu A.menuItem
   {
	   PADDING-RIGHT: 1em; DISPLAY: block; PADDING-LEFT: 1em; PADDING-BOTTOM: 3px; CURSOR: default; COLOR: #000000; PADDING-TOP: 3px; WHITE-SPACE: nowrap; TEXT-DECORATION: none
   }
   DIV.menu A.menuItem:hover
   {
	   COLOR: #ffffff; BACKGROUND-COLOR: #5050f0
   }
   DIV.menu A.menuItemHighlight
   {
	   COLOR: #ffffff; BACKGROUND-COLOR: #5050f0
   }
   DIV.menu A.menuItem SPAN.menuItemText
   {
	
   }
   DIV.menu A.menuItem SPAN.menuItemArrow
   {
	   MARGIN-RIGHT: -0.75em
   }
   DIV.menu DIV.menuItemSep
   {
	   BORDER-RIGHT: #e0e0e0 1px inset; BORDER-TOP: #e0e0e0 1px inset; MARGIN: 4px 2px; BORDER-LEFT: #e0e0e0 1px inset; BORDER-BOTTOM: #e0e0e0 1px inset
   }